<a class="list-group-item clearfix" [routerLink]="[index]" routerLinkActive="active">
  <div>
    <div class="pull-left">
      <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
      <p class="list-group-item-text">{{ recipe.discription }}</p>
    </div>
    <div>
      <span class="pull-right">
        <img
          [src]="recipe.imagePath"
          alt="{{ recipe.name }}"
          class="img-responsive"
          style="max-height: 60px; width: 90px"
        />
      </span>
    </div>
  </div>
</a>
<br />
